@model IEnumerable<TrailRanking.Models.EquipmentListItem>

@{
    ViewBag.Title = "Index";
}
<style>
.background { background: url('https://images.pexels.com/photos/127753/pexels-photo-127753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center 25%; background-size: cover; text-align: center; height: 200px; width: 100%; }
</style>
<div class="background">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New Equipment", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EquipmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EquipmentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EquipmentId })
                </td>
            </tr>
        }

    </table>
<div/>