@model IEnumerable<TrailRanking.Models.EquipmentListItem>

@{
    ViewBag.Title = "Index";
}

<div class="equipmentBody">
<div class="background">

    <h2>Hiking Equipment</h2>

    <p>
        @Html.ActionLink("Create New Equipment", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EquipmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EquipmentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EquipmentId })
                </td>
            </tr>
        }

    </table>
</div>
</div>